.title {
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.subtitle {
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    margin: 0;
    font-family: var(--font-cormorant);
}