.portfolio-box {
    position: relative;
    padding-bottom: 20px; 
    flex: 0 0 calc(33.333% - 50px); 
    background-color: var(--color-zero);
    margin-bottom: 30px;

    img {
        display: block;
        width: 100%;
        //border: 10px solid #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
  }
  
  
  .polaroid .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 10px;
  }
  
  .polaroid .caption h2 {
    margin: 0;
    font-size: 20px;
  }
  
  .polaroid .caption p {
    margin: 5px 0 0;
    font-size: 14px;
  }