.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 670px;
}

.header p, 
.header h1, 
.header Button {
    // padding-top: 100px;
    // padding-bottom: 100px;
}

.header {
    p {
        font-size: 36px;
        padding: 40px 0 0 0;
        font-family: var(--font-cormorant);
        letter-spacing: -2px;
        font-style: italic;
    }
    h1 {
        text-transform: uppercase;
        font-size: 40px;
    }
    Button {
        
    }
}

