.footer {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    padding-left: 75px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.icon {
    padding-left: 8px;
    padding-right: 8px;
}